:root {
  --PrimaryColor: #11356a;
  --SecondaryColor: #87a2f6;
  --grey: #e3e2de;
  --white: #ffffff;
  --AccentColor: #ffd700;
  --accentFont: PetitCochon;
}
@font-face {
  font-family: PetitCochon;
  src: url(./fonts/Petit-Cochon.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--PrimaryColor);
}
body {
  background-color: var(--grey);
}
h1 {
  color: var(--PrimaryColor);
  font-family: var(--accentFont);
  text-transform: uppercase;
  font-size: 86px;
}
h2 {
  color: var(--PrimaryColor);
  font-family: var(--accentFont);
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
h3 {
  color: var(--white);
  font-family: var(--accentFont);
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--PrimaryColor);
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1280px;
  padding: 0 30px;
  width: 100%;
}
.btn {
  padding: 7px 35px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  line-height: 25px;
  color: var(--PrimaryColor);
  background-color: var(--white);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--grey);
}
.btn2 {
  padding: 7px 35px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  line-height: 25px;
  background-color: var(--PrimaryColor);
  color: var(--grey);
  cursor: pointer;
}
.btn2:hover {
  background-color: var(--grey);
  color: var(----PrimaryColor);
}
/* HERO */
.hero-container {
  background-image: url(./images/background.jpg);
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: clip;
}
.hero-text {
  font-family: var(--accentFont);
  font-size: 46px;
  color: var(--white);
  filter: drop-shadow(2px 2px 2px grey);
}
img.hero-seagull-img {
  position: absolute;
  bottom: 10px;
  right: 10%;
  /* height: 80%; */
  width: 40%;
  min-width: 420px;
  z-index: 3;
}
.horizontal-wave {
  position: absolute;
  bottom: -155px;
  z-index: 10;
  display: flex;
}
.horizontal-wave img {
  margin-top: -110px;
  scale: 1;
  width: 100vw;
  height: 250px;
}
.hero-btns {
  display: flex;
  gap: 10px;
}
.scroll-soc-icons{
  position: fixed;
  top: 20px;
  right: 50px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  margin-top: 0px;
  z-index: 99;
  
}
.scroll-soc-icons img{
max-width: 70px;
opacity: 70%;
transition: all 0.3s ease;
z-index: 99;
}
.scroll-soc-icons img:hover{
opacity: 100%;
}

.hero-content {
  z-index: 2;
  max-width: 1280px;
  padding: 0 30px;
  width: 100%;
  overflow-x: clip;
}

.hero-content p {
  width: 50%;
  font-size: 20px;
  /* padding-right: 20px; */
}
.hero-content h1 {
  width: 100%;
  text-wrap: nowrap;
}

/* VALUES */
section.values {
  margin-top: 250px;
}

.values-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 100px;
  flex-wrap: wrap;
  /* overflow-x: clip; */
}
/* .values-content-right{
  max-width: 30%;
} */
.values-content-left {
  max-width: 50%;
}
.values-content-left h2 {
  margin-bottom: 20px;
}
.values-content-right {
  position: absolute;
  width: 50%;
  /* min-height: 450px; */
  right: 0;
  bottom: -10px;
  z-index: -1;
}
.values-content-right img {
  max-width: 100%;
}

/* HISTORY */
section.history {
  margin-top: 100px;
  /* padding: 30px; */
}
.history-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 1280px;
  padding: 0 30px;
  width: 100%;
}
.history-container p {
  margin: 0px;
}
.history-container h2 {
  margin-bottom: 20px;
}
.history-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1%;
  row-gap: 10px;
  margin-top: 30px;
  justify-content: center;
}
.history-images img {
  width: calc((100% - 2%) / 3);
}
/* PROGRAM */
section.program {
  /* background-image: url('./images/grey\ bg.jpg'); */
  min-height: 150px;
  margin-top: 50px;
  padding-top: 70px;
  margin-bottom: 150px;
  position: relative;
  overflow-x: clip;
}
.program-subheading {
  margin-top: -15px;
  margin-bottom: 20px;
}
.program p {
  margin: 10px 0;
}
.program-contents {
  position: relative;
  overflow-x: clip;
  width: 100%;
  margin-top: 20px;
}
p.program-date {
  margin-top: 20px;
}
.discussion-image {
  position: absolute;
  left: 35%;
  z-index: -1;
  bottom: -160px;
  /* scale: 1.1; */
}
.discussion-image img {
  width: 100%;
}
/* PARTNERS */
section.partners {
  background-image: url(./images/grey\ bg.jpg);
  padding: 70px 50px 50px 50px;
  color: var(--grey);
}
.partners h2 {
  color: var(--PrimaryColor);
  text-align: center;
}
.partners-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
.partners img {
  max-width: 150px;
  max-height: 150px;
  /* min-width: 120px; */
}
.logos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.info-partners{
  gap: 40px;
  margin-top: 50px;
}
.sponsors{
gap: 40px;
}
.seperator {
  width: 100%;
  height: 15px;
  background-color: var(--PrimaryColor);
}
/* JOIN */
section.join {
  flex-direction: column;
  background-color: var(--PrimaryColor);
  padding-top: 70px;
}
.join h2 {
  color: var(--grey);
  letter-spacing: 2px;
  text-align: center;
}

.join p {
  color: var(--white);
}
.join-contents {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin-bottom:40px;
}
.join-card {
  background-color: #87a2f650;
  width: 280px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
  height: 390px;
  /* background-color: #fFDDDD20; */
  transition: all 0.3s;
  box-shadow: none;
}
.join-card:hover{
  scale:1.03;

}

.join-card-icon{
  width: 20%;
  margin: 10px;
}
.join-soc-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.join-soc-icons img{
max-width: 50px;
opacity: 70%;
transition: all 0.3s ease;
}
.join-soc-icons img:hover{
opacity: 100%;
}

.join-contents p {
  color: var(--white);
  text-align: center;
  margin-top: 30px;
}
.join-contact {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  background-color: var(--SecondaryColor);
  padding: 15px;
}
.join-contact p {
  font-size: 20px;
}
.join-contact a {
  color: var(--PrimaryColor);
}
/* Media */
@media only screen and (max-width: 1600px) {
img.hero-seagull-img {
  width: 50%;
}
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .btn {
    padding: 7px 25px;
    border-radius: 30px;
    font-size: 16px;
  }
  .btn2 {
    padding: 7px 25px;
    border-radius: 30px;
    font-size: 16px;
  }

  .scroll-soc-icons{
display: none;
  }
  /* HERO */
  .hero-container {
    height: 100vh;
    overflow-x: clip;
  }
  .hero-text {
    font-size: 30px;
  }
  .hero-content {
    padding: 30px;
  }

  .hero-content {
    z-index: 2;
    width: 100%;
  }

  .hero-content p {
    width: 100%;
    font-size: 18px;
  }
  .hero-content h1 {
    text-wrap: wrap;
  }

  section.history,
  section.program {
    margin-top: 30px;
    padding-top: 0;
  }

  img.hero-seagull-img {
    top: 30px;
    right: -120px;
    z-index: 1;
    rotate: -45deg;
  }
  .horizontal-wave{
    bottom: -70px;
    left: 0;
  }
   .horizontal-wave img{
        width: 100vw;
    height: 50%;
   }

  section.values {
    margin-top: 100px;
  }
  .values-content-left {
    max-width: 100%;
    padding-bottom: 20%;
  }

  .values-content-right {
    position: absolute;
    width: 70%;
    /* min-height: 450px; */
    right: -30px;
    bottom: -10px;
    z-index: -1;
    max-width: 300px;
    /* min-width: 400px; */
  }

  /* HISTORY */

  .history-container h2 {
    text-align: left;
    width: 100%;
  }

  .history-images {
    width: 100%;
  }
  .history-container .container {
    padding: 0;
  }
  /* PROGRAM */
  .discussion-image {
    left: 10%;
    bottom: -170px;
  }
  .discussion-image img {
    max-width: 70%;
    min-width: 400px;
  }
  section.partners {
    padding: 50px 30px 50px 30px;
  }
  .partners img {
    max-width: 90px;
    max-height: 90px;
  }
  .join-left {
    /* background-color: var(--SecondaryColor); */
    width: 100%;
  }
  .join-right {
    width: 100%;
  }
  .join-contact p {
    font-size: 16px;
  }
}
